:root {
  --default-color: #191919;
  --bg-color: #fdfbf5;
}
:root[data-theme="dark"] {
  --default-color: #fdfbf5;
  --bg-color: #191919;
}

/* 기본 폰트 pretendard
  meta 클래스는 roboto mono 사용.
*/
body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: 1px solid var(--default-color);
  margin: 20px;
  min-height: 100vh;
  padding: 48px;
  max-width: 1880px;
}
@media (min-width: 1880px) {
  body {
    margin: 20px auto;
  }
}
.uppercase {
  text-transform: uppercase;
}
p,
span,
li,
button,
div {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--default-color);
  letter-spacing: 0;
  font-weight: 400;
}
a {
  text-decoration: none;
}
/* line-height는 지정된것과 다른것들도 존재! 별도 설정 */
.text-xlarge {
  font-size: 28px;
  line-height: 150%;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
.text-large {
  font-size: 24px;
  line-height: 160%;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
.text-medium {
  font-size: 20px;
  line-height: 170%;
}
.text-default {
  font-size: 18px;
  line-height: 170%;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
.head-large {
  font-size: 128px;
  font-weight: 500;
  line-height: 100%;
  @media (max-width: 1023px) {
    font-size: 96px;
  }
  @media (max-width: 767px) {
    font-size: 32px;
  }
}
.head-medium {
  font-size: 96px;
  font-weight: 500;
  line-height: 110%;
  @media (max-width: 767px) {
    font-size: 28px;
  }
}
.head-small {
  font-size: 80px;
  font-weight: 500;
  line-height: 110%;
  @media (max-width: 767px) {
    font-size: 28px;
  }
}
.head-h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
}
.head-h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 110%;
  @media (max-width: 767px) {
    font-size: 28px;
  }
}
.head-h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  @media (max-width: 767px) {
    font-size: 24px;
  }
}
.head-h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}
/* font : roboto mono */
.meta {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.meta-small {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
}
.meta-tag {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
}

/* footer */
footer {
  padding: 64px 0 16px 0;
}
.footer-top {
  display: flex;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--default-color);
}

.top-office-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 102px; */
  justify-content: space-between;
  padding-right: 48px;
}
.top-menu {
  flex: 2;
  display: flex;
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
}

.top-menu ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}
.socials {
  display: flex;
  gap: 16px;
}
.round-item {
  border: 1px solid var(--default-color);
  border-radius: 20px;
  padding: 10.5px 8.5px;
}

.info-address {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.bottom-nav {
  display: flex;
  gap: 32px;
}
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--default-color);
  padding-bottom: 32px;
}
.logo-img {
  width: 139px;
  height: 50px;
}
.header-logo {
  padding-right: 32px;
}
.header-navbar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-contents {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 529px;
  padding-right: 32px;
}
.navbar-contents-combine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.common-btn {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 16px 10px 16px;
  border-radius: 6px;
  color: var(--bg-color);
  background-color: var(--default-color);
}
.common-btn-reverse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 16px 10px 16px;
  border-radius: 6px;
  background-color: var(--bg-color);
  color: var(--default-color);
  border: 1px solid var(--default-color);
}
.navbar-partition {
  width: 1px;
  height: 40px;
  background-color: var(--default-color);
  margin: 1px 20px;
}
.socials {
  display: flex;
  gap: 16px;
}
.socials-item {
  border: 1px solid var(--default-color);
  border-radius: 20px;
  padding: 10.5px 8.5px;
}
