/* section 2 : our client */
.our-client {
  width: 100%;
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.do-title,
.client-title {
  padding-right: 64px;
  text-wrap: nowrap;
}
.clients {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 64px;
  border-left: 1px solid var(--default-color);
}

/* section 3 : what we do */
.what-we-do {
  width: 100%;
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
  align-items: flex-start;
}
.do-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 64px;
  border-left: 1px solid var(--default-color);
}
.do-title {
  flex: 1;
}
.do-top {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--default-color);
}
.do-bottom {
  padding-top: 48px;
}
.do-top,
.do-bottom {
  display: flex;
}
.do-item {
  display: flex;
  align-items: flex-start;
  flex: 1;
}
.item-info {
  padding-left: 32px;
}
.do-item:first-child {
  padding-right: 48px;
}
.do-item:last-child {
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
}
/* section 4 how we work */
.how-we-work {
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
}
.work-title {
  flex: 2;
  padding-right: 48px;
  min-height: 499px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.work-content {
  flex: 1;
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.title-container-content {
  padding: 16px 0;
}

/* section 5 our values */
.our-values {
  padding-bottom: 64px;
  border-bottom: 1px solid var(--default-color);
}
.values-title {
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  text-align: center;
}
.values-main {
  display: flex;
  padding-top: 64px;
}
.values-img-box {
  flex: 1;
  padding-right: 48px;
}
.values-img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.values-contents {
  flex: 1;
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
}
.contents-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 48px;
}
.contents-item:not(:last-child) {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--default-color);
}
.contents-item:not(:first-child) {
  padding-top: 48px;
}
.content-item-desc > p:first-child {
  padding-bottom: 8px;
}
/* section 6 contact */
.contact {
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
}
.contact-title {
  flex: 2;
  padding-right: 48px;
  min-height: 571px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-content {
  flex: 1;
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/* section-top */
.main-container {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 0px;
  gap: 64px;
  border-bottom: 1px solid var(--default-color);
}
.top-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top-text {
  padding: 16px 0px;
}
.top-icon-img {
  width: 61px;
  height: 80px;
  padding: 160px 0px 0px;
}
.top-img-container {
  display: flex;
  flex: 1;
}
.top-img {
  border-radius: 15px;
  background-image: url(../imgs/img_top.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* FEATURED WORK */
.featured-work {
  display: flex;
  flex-direction: row;
  padding-top: 49px;
  padding-bottom: 48px;
  border-bottom: 1px solid var(--default-color);
}
.work-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 49px;
}
.work-img-container {
  padding-left: 48px;
  padding-bottom: 48px;
  border-left: 1px solid var(--default-color);
}
.img-discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 0px 0px;
}
.work-txt-style {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
}
.work-txt {
  padding-top: 8px;
}
.img-discription:first-child {
  border-bottom: 1px solid var(--default-color);
}
.work-btn-container {
  padding-top: 48px;
}
.big-img-container {
  border-bottom: 1px solid var(--default-color);
  /* padding-bottom: 32px; */
}
.work-img-container {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.small-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 32px;
  /* column-gap: 32px; */
  row-gap: 48px;
}
/* .img-container{
  padding: 0px 16px ;
} */

.small-img-container .img-container:nth-child(odd) {
  padding-right: 32px;
}
.small-img-container .img-container:nth-child(even) {
  padding-left: 32px;
  border-left: 1px solid var(--default-color);
}

.img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* section news */
.news-contents {
  display: flex;
  padding: 64px 0;
}
.news-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  border-bottom: 1px solid var(--default-color);
}

.news-item:not(:last-child) {
  padding-right: 48px;
}
.news-item:not(:first-child) {
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
}
.news-item {
  flex: 1;
}
.news-tag {
  padding: 16px 0 8px 0;
}
.news-item img {
  width: 100%;
}
.news {
  border-bottom: 1px solid var(--default-color);
}
