/* section 2 : our client */
.our-client {
  width: 100%;
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.do-title,
.client-title {
  padding-right: 64px;
  text-wrap: nowrap;
}
.clients {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 64px;
  border-left: 1px solid var(--default-color);
}

/* section 3 : what we do */
.what-we-do {
  width: 100%;
  padding: 64px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
  align-items: flex-start;
}
.do-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 64px;
  border-left: 1px solid var(--default-color);
}
.do-title {
  flex: 1;
}
.do-top {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--default-color);
}
.do-bottom {
  padding-top: 48px;
}
.do-top,
.do-bottom {
  display: flex;
}
.do-item {
  display: flex;
  align-items: flex-start;
  flex: 1;
}
.item-info {
  padding-left: 32px;
}
.do-item:first-child {
  padding-right: 48px;
}
.do-item:last-child {
  border-left: 1px solid var(--default-color);
  padding-left: 48px;
}
/* section-top */
.main-container {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 64px 0px;
  gap: 64px;
}
.top-text {
  padding: 16px 0px;
}
.top-icon-img {
  width: 61px;
  height: 80px;
  padding: 160px 0px 0px;
}
.top-img-container {
  display: flex;
  height: 860px;
}
.top-img {
  background-image: url(../imgs/img_top.svg);
  background-repeat: no-repeat;
  background-position: 100% -17px;
  background-position: center;
  background-size: 130%;
  height: 700px;
  width: 860px;
}
