/* header  */
header {
  flex-wrap: wrap;
}

/* footer */

/* section top */
.top {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 24px 0;
  border-bottom: 1px solid var(--default-color);
}
.top-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top-icon-img {
  display: none;
}
.top-img-container {
  display: flex;
  flex: 1;
}
/* section our client */
.our-client,
.what-we-do {
  flex-direction: column;
  padding: 38px 0;
}
.client-title {
  text-align: center;
  width: 100%;
  padding: 0px 0px 38px 0px;
  border-bottom: 1px solid var(--default-color);
}

.clients {
  padding: 38px 0 0 0;
  border-left: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.clients img {
  padding: 2px;
}
/* section what we do */
.do-title {
  width: 100%;
  padding: 0px 0px 38px 0px;
  text-align: center;
  border-bottom: 1px solid var(--default-color);
}
.do-list {
  padding: 38px 0 0;
  border-left: none;
}

/* section our values */
.our-values {
  padding-bottom: 9px;
}
.values-title {
  padding: 38px;
}
.values-main {
  padding: 24px 0;
  flex-direction: column;
}
.values-img-box {
  padding: 0 0 24px 0;
}

.values-contents {
  padding: 0;
  border-left: none;
}
.contents-item:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--default-color);
}
.contents-item:not(:first-child) {
  padding-top: 32px;
}
.content-item-desc > p:first-child {
  padding-bottom: 8px;
}
.contact {
  padding: 33px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
  flex-direction: column;
}
.contact-title-head {
  padding: 32px 0px 16px 0px;
}

.contact-title {
  flex: 2;
  padding-right: 48px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact .title-container-content {
  font-size: 28px;
  font-weight: 500;
  line-height: 110%;
  padding: 16px 0px 0px 0px;
}
.contact-content {
  border-left: none;
  padding: 16px 0px 32px 0px;
}
.contact img {
  display: none;
}
.contact .text-large {
  font-size: 28px;
  font-weight: 400;
  line-height: 150%;
  padding: 16px 0px 48px 0px;
}
.contact .contact-btn {
  padding: 0px 0px;
}

.how-we-work {
  padding: 33px 0;
  border-bottom: 1px solid var(--default-color);
  display: flex;
  flex-direction: column;
}
.how-we-work .title-container-head {
  padding: 32px 0px 0px 0px;
}
.work-title {
  flex: 2;
  padding-right: 48px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.how-we-work .title-container-content {
  font-size: 28px;
  font-weight: 500;
  line-height: 110%;
  padding: 16px 0px 0px 0px;
}
.work-content {
  border-left: none;
  padding: 16px 0px 32px 0px;
}
.how-we-work img {
  display: none;
}
.how-we-work .text-large {
  font-size: 28px;
  font-weight: 400;
  line-height: 150%;
  padding: 16px 0px 48px 0px;
}
.how-we-work .contact-btn {
  padding: 0px 0px;
}

/* section featured */
.featured-work {
  flex-direction: column;
}
.work-btn-container {
  padding-bottom: 29px;
}
.work-img-container {
  border-left: none;
  padding-left: 0;
}
/* section news */
.news-title {
  flex-direction: column;
  align-items: flex-end;
}
.news-title > p:first-child {
  width: 100%;
}
.news-contents {
  flex-direction: column;
}

.news-item:not(:last-child) {
  padding: 0 0 48px 0px;
}
.news-item:not(:first-child) {
  border-left: none;
  padding: 0 0 48px 0px;
}
