/* header  */
header {
  flex-wrap: wrap;
}

/* footer */

/* section top */
.top {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 24px 0;
  border-bottom: 1px solid var(--default-color);
}
.top-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top-icon-img {
  display: none;
}
.top-img-container {
  display: flex;
  flex: 1;
}
/* section our client */
.our-client,
.what-we-do {
  flex-direction: column;
  padding: 38px 0;
}
.client-title {
  text-align: center;
  width: 100%;
  padding: 0px 0px 38px 0px;
  border-bottom: 1px solid var(--default-color);
}

.clients {
  padding: 38px 0 0 0;
  border-left: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.clients img {
  padding: 2px;
}
/* section what we do */
.do-title {
  width: 100%;
  padding: 0px 0px 38px 0px;
  text-align: center;
  border-bottom: 1px solid var(--default-color);
}
.do-list {
  padding: 38px 0 0;
  border-left: none;
}

/* section our values */
.our-values {
  padding-bottom: 9px;
}
.values-title {
  padding: 38px;
}
.values-main {
  padding: 24px 0;
  flex-direction: column;
}
.values-img-box {
  padding: 0 0 24px 0;
}

.values-contents {
  padding: 0;
  border-left: none;
}
.contents-item:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--default-color);
}
.contents-item:not(:first-child) {
  padding-top: 32px;
}
.content-item-desc > p:first-child {
  padding-bottom: 8px;
}
