.top {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 24px 0;
  border-bottom: 1px solid var(--default-color);
}
.top-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top-icon-img {
  display: none;
}
.top-img-container {
  display: flex;
  flex: 1;
}
